.search-property {
    padding: 50px 0;
  }
  
  .search-property .form-group {
    margin-bottom: 20px;
  }

  .hero-section {
    padding: 0;
    color: #fff;
  }
  .bg-black-3 {
    background: #2a2a2a !important;
  }

  .bg-black-4 {
    background: #252525 !important;
  }
 .btn-lg{
     line-height: 25px;
     width: 100%;
 }
 .btn-md{
     
     line-height: 25px;
     width: 100%;
 }
 