.search-property {
    padding: 50px 0;
  }
  
  .search-property .form-group {
    margin-bottom: 20px;
  }

  .hero-section {
    padding: 0;
    color: #fff;
  }
  .bg-black-3 {
    background: #2a2a2a !important;
  }

  .bg-black-4 {
    background: #252525 !important;
  }
 .btn-lg{
     line-height: 25px;
     width: 100%;
 }
 .btn-md{
     
     line-height: 25px;
     width: 100%;
 }
 .label-template-checkbox {
    color: #999;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    position: relative;
    padding-left: 25px;
    margin-right: 20px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .label-template-checkbox::before {
    content: '';
    width: 16px;
    height: 16px;
    background: #333333;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  
  .label-template-checkbox::after {
    content: 'f00c';
    width: 16px;
    height: 16px;
    background: #429244;
    text-align: center;
    line-height: 16px;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    opacity: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    color: #fff;
    font-family: 'FontAwesome';
    font-size: 0.65rem;
  }
  
  .label-template-checkbox input {
    display: none;
  }
  
  .label-template-checkbox.active::after {
    opacity: 1;
  }
  