.FormGroup {
    position: relative;
  }
  
  .FormControl {
    border-radius: 40px;
    border: none !important;
    background: #333333;
    color: #fff !important;
    font-weight: 300;
    height: 3rem;
    width: 100%;
  }
  .EmailControl {
    border-radius: 40px;
    border: none !important;
    background: #2a2a2a;
    color: #fff !important;
    font-weight: 300;
    height: 3.5rem;
    width: 100%;
    margin-bottom: 10px;
  }
  .custom-select {
    position: relative;
    display: block;
    border: none;
    border-radius: 25px;
    height: 3rem;
    background-color: #333333;
    color: #fff;
    padding-left: 20px;
  }
  .custom-select{
    padding: 0.625rem 1.5rem;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #495057;
    background-color: none;
  
    border-radius: 40px;
    -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  }
  
  .custom-select:focus{
    color: #999;
    background-color: #333333;
    border-color: #8aca8b;
    outline: none;
    -webkit-box-shadow: 0 0 0 0.2rem rgba(66, 146, 68, 0.25);
    box-shadow: 0 0 0 0.2rem rgba(66, 146, 68, 0.25);
  }
  
  
  

  .FormControl, .EmailControl {
    padding: 0.625rem 1.5rem;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #495057;
    background-color: none;
    border: 1px solid #ced4da;
    border-radius: 40px;
    -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  }
  .FormControl:focus {
    color: #495057;
    background-color: #fff;
    border-color: #8aca8b;
    outline: none;
    -webkit-box-shadow: 0 0 0 0.2rem rgba(66, 146, 68, 0.25);
    box-shadow: 0 0 0 0.2rem rgba(66, 146, 68, 0.25);
  }
  .EmailControl:focus {
    color: #495057;
    background-color: #2a2a2a;
    border-color: #8aca8b;
    outline: none;
    -webkit-box-shadow: 0 0 0 0.2rem rgba(66, 146, 68, 0.25);
    box-shadow: 0 0 0 0.2rem rgba(66, 146, 68, 0.25);
  }
  
  .FormControl::-webkit-input-placeholder {
    color: #868e96;
  }
  
  .FormControl:-ms-input-placeholder {
    color: #868e96;
  }
  
  .FormControl::placeholder {
    color: #868e96;
  }
  
  .FormControl:disabled, .FormControl[readonly] {
    background-color: #e9ecef;
  }
  
  .FormControl::-moz-placeholder {
    font-size: 0.9rem;
    font-weight: 300;
    font-family: "Poppins", sans-serif;
    color: #999 !important;
  }
  
  .FormControl::-webkit-input-placeholder {
    font-size: 0.9rem;
    font-weight: 300;
    font-family: "Poppins", sans-serif;
    color: #999 !important;
  }
  
  .FormControl:-ms-input-placeholder {
    font-size: 0.9rem;
    font-weight: 300;
    font-family: "Poppins", sans-serif;
    color: #999 !important;
  }
  
  .FormControl:focus {
    background: #333333 !important;
  }
  
  .Label {
    
    color: #ccc;
    padding-left: 15px;
   
  }
  
  
  .placeholder-right::-moz-placeholder {
    text-align: right;
  }
  
  .placeholder-right::-webkit-input-placeholder {
    text-align: right;
  }
  
  .placeholder-right:-ms-input-placeholder {
    text-align: right;
  }
  
  textarea {
    min-height: 150px;
  }
  
  .radius-sm {
    border-radius: 10px !important;
  }
  
  .upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    color: #777;
    text-align: center;
    padding: 30px;
    border: 2px dashed #444;
    cursor: pointer;
    display: block;
    font-size: 0.85rem;
  }
  
  .upload-btn-wrapper i {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
  }
  .search-property {
    padding: 70px 0;
  }
  
  .search-property .form-group {
    margin-bottom: 20px;
  }
  